<div class="category_sub_title">

<h1>Thanks for Your Task!</h1>
<h2>One of our Taskers will respond shortly.</h2>
<h2>In the meantime, check out our other <%= link_to "services", categories_path %></h2>
</div>
