<!-- Which Task has the closest due date
Which User has the most needed tasks

Most popular amount of bathrooms
Most popular vehicle for Pickup
Most popular amount of movers needed
Most common zip code uses taskers -->
<div class = "table">
  <div class = "title">
    <h1>Get More Done in Less Time</h1>
    <h2>Our same-day service platform instantly connects you with skilled Taskers to help with odd-jobs and errands, so you can be more productive, every day.</h2>
  </div>
  <table>
    <tr>
      <th>Highest Expected Expense for Shopping Tasks</th>
    </tr>
    <tr>
      <td>  <%= @shopping %> </td>
    </tr>
    <tr>
      <th>Most Popular Amount of Bathrooms Clean</th>
    </tr>
    <tr>
      <td> 3 </td>
    </tr>
    <tr>
      <th>Most Popular Vehicle for Pickup</th>
    </tr>
    <tr>
      <td> Truck </td>
    </tr>

  </table>
</div>
