<div class = "title">
  <h1>The convenient & fast way to get things done around the house </h1>
  <h2>Choose from over 60,000 carefully vetted and feedback rated Taskers to get quick help</h2>
</div>

<div class="category-image">
</div>

<div class="category-title">
  <%@categories.each do |c| %>
  <label><%= link_to c.task_type, category_path(c.id)%></label>
  <br>
  <% end %>
</div>

<br>

<div class="links">
  <center><%= link_to "New Category", new_category_path%></center> |
  <center><%= link_to "Statistics", tasks_statistics_path%></center>
</div>
